
.chk-icon {
    margin-right: 5px;
}

.chk:checked ~ .chk-icon::before {
    content: '\f14a';
}

body.voyage {
    background-image: none;
}

@media (min-width: 700px) {
    body.voyage {
        background-image: url('../voyage/images/background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        
    }

    body.voyage::after {
        display: block;
        content: '';
        background-color: #333;
        position: fixed;
        z-index: -1;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0.5;
    }
}