
.chk-icon {
    margin-right: 5px;
}

.chk:checked ~ .chk-icon::before {
    content: '\f14a';
}

body.voyage {
    background-image: none;
}

.planets-list {
    min-height: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.planets-list__planet {
    cursor: -webkit-grab;
    display: block;
    margin-bottom: 4px;
    padding: .5em;
    font-size: 120%;
    border: 1px solid #ccc;
    background-color: #303030;
}

.planets-list__planet-placeholder {
    display: block;
    margin-bottom: 4px;
    padding: .5em;
    font-size: 120%;
    border: 1px dotted #CCC;
    background-color: #303030;
}

.footer__nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__nav-item {
    padding-left: 1em;

}

.footer__nav-item > a {
    color: inherit;
}

.symbol-list {
    list-style: none;
    padding: 0;
    margin: 0 0 1em 0;
}

.symbol-list li {
    padding: .5em;
    margin: .5em;
    background-color: #464c52;
    display: inline-block;
    font-size: 120%;
    border: 1px solid #adb5bd;
    border-radius: 3px;
    min-width: 250px;
}

.symbol-list li:nth-of-type(odd) {
    background-color: #232323;
}

.symbol-list li img {
    max-height: 75px;
}

@media (min-width: 700px) {
    body.voyage {
        background-image: url('../voyage/images/background.jpg');
    }

    body.bloodofthedead {
        background-image: url('../blood/images/background.jpg');
    }

    body.ix {
        background-image: url('../ix/images/background.jpg');
    }

    body.classified {
        background-image: url('../classified/images/background.jpg');
    }

    body.voyage,
    body.bloodofthedead,
    body.ix,
    body.classified {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        
    }

    body.voyage::after,
    body.bloodofthedead::after,
    body.ix::after,
    body.classified::after {
        display: block;
        content: '';
        background-color: #333;
        position: fixed;
        z-index: -1;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0.5;
    }
}